<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title | uppercase }}!
  </h1>
 </div> -->

<!-- Type Your Name Here: <input type="text" #txtName (keyup)="0" 
  placeholder="Type here"/>

  Your Name is {{ txtName.value }} -->

<!-- <app-home></app-home> -->

<div class="container">
  <div style="color:white; background-color: purple;
 padding:10px">
    <h2 class="text-center" style="margin-top:20px">
      AtoZ Solutions - {{ title }}
      <!-- <span ngNonBindable>
          AtoZ Solutions - {{ title }}
      </span> -->
    </h2>

  </div>

  <div class="row">
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-5">
      <br />
      <img src='../assets/images/logo.png' />
    </div>
  </div>
  <br /><br />

  <footer>
    <div class="row">
      <div class="col-md-8">
        <span class="text-danger">
          <strong>This site is copyright &copy; to Capgemini.
            All rights are reserved here.
          </strong></span>
      </div>
      <div class="col-md-4">
        <span class="text-primary text-right">
          <!-- <strong> {{ todaysDate | date:'dd/MM/yy'}} | 
      {{ todaysDate | date:'shortTime'}} </strong> -->
          <strong> {{ todaysDate  | date:'dd-MM-yyyy'}}
            <!-- | Time: {{ todaysDate | date: 'shortTime'}} -->
            <!-- Step1: npm install time-ago-pipe --save 
Step2: Add below lines in app.module.ts file
import {TimeAgoPipe} from 'time-ago-pipe
declarations: [AppComponent, ...etc..., TimeAgoPipe],

Step3: <span>{{your_date | timeAgo}}</span>
-->
            <!-- | Time: {{ todaysDate | timeAgo}} -->
          </strong>
        </span>
      </div>
    </div>
  </footer>
</div>